<!-- Basicamente o EJS é um HTML normal, porém tem algumas coisinhas que conseguimos fazer para deixar dinamico -->
<html>
    <head>
        <link rel="stylesheet" href="/public/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    </head>
    <body>
        <header>
            <h2>App Lista de Tarefas</h2>
        </header>
        <div class="tarefas">
            <form method="POST">
                <input type="text" name="tarefa" placeholder="adicione uma tarefa">
                <button type="submit">
                    <i class="bi bi-send-fill"></i> Definir e Salva Tarefa
                </button>
            </form>
            <% for(let i = 0; i < arr_tarefas.length; i++) { %>
                <p>
                    <span><i class="bi bi-list-check"></i> <%= arr_tarefas[i] %></span>
                    <a href="/delete/<%= i %>"><i class="bi bi-trash-fill"></i></a>
                </p>
            <% } %>
        </div>
    </body>
</html>