*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: rgb(122, 206, 143);
    color: #000;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.tarefas p {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-weight: bold;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}

.tarefas p:hover {
    background-color: rgb(216, 218, 216);
    transition: 1s;
}

.tarefas p a {
    color: #000;
    background-color: rgb(228, 125, 125);
    padding: 10px;
    border-radius: 5px;
}

input[type="text"] {
    padding: 10px;
    width: 87.5%;
    margin: 20px;
    outline: none;
    border: 1px solid rgb(122, 206, 143);
}

button {
    text-align: center;
    padding: 10px;
    background-color: rgb(122, 206, 143);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.tarefas form {
    display: flex;
    align-items: center;
}